<html>
    <head>
		<title>{%block title%}{%endblock%} - Pre-Registro ECSL</title>
		<link rel="stylesheet" href="/css/style.css" type="text/css">
    </head>
	<body>
    <div align="center">
    <div id="centro">
	<div id="header">
            <a href="/"><img src="/imagenes/banner.png" /></a>
        </div>
       
     	<div id="content">
	 <div id="sidebar">
		 <br/><br/>
		 <a href ="/registro/register/">Registrarse</a> <br/></br>
                 <a href ="/registro/login/">Login</a> <br/></br>
                 <a href ="/blog/">Blog Oficial</a> <br/></br>
                 <a href ="http://sl-centroamerica.org/wiki/Ecsl2009">Wiki del ECSL</a> <br/></br>
                 <a href ="http://identi.ca/ecsl/">Identi.ca del ECSL</a> <br/></br>
                 <a href ="http://twitter.com/ecsl">Twitter del ECSL</a> <br/></br>
    	</div>                     
	 	{%block content%}{%endblock%}
     	</div>
             
      	<div id="footer">
                  <center><p>
                      <a href="http://github.com/fitoria/ecsl-pre-reg/tree/master" >Sistema de Pre-Registro ECSL Nicaragua 2009</a> 
                      hecho por <a href="http://fitoria.net" >Adolfo J. Fitoria E.</a> Bajo licencia MIT. <br/>
                      <a href="http://www.linuxtour.org/index.php5?title=SFD2008/Arte" target="blank" >Arte</a> por <a href="http://byroncorrales.com" target = "blank" >Byron Corrales </a></p></br><img src = "/imagenes/django.gif" alt= "powered by django"/>	</center>
      	</div> 
       	</div>
       </div>
    </body>
</html>        
    
